n8n/workflows/3D8Jw6GicWiwBQc6.json
{
  "updatedAt": "2026-06-21T22:40:18.521Z",
  "createdAt": "2026-06-21T12:41:40.926Z",
  "id": "3D8Jw6GicWiwBQc6",
  "name": "BMAD Outcome",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response"
            }
          ]
        }
      },
      "id": "o1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=--- Start Input ---\n{{ $json.response }}\n--- End Input ---\n\nTask: evaluate the message. Respond only with the classifier that you chose.\nIF it:\n  - asks for input before proceeding\n  - reports an error\n  - indicates that work should not proceed before addressing important issues \nTHEN respond only with 'QUESTION';\nIF it:\n  - confirms a successful operation\n  - indicates only minor issues and does not indicate critical issues\n  - politely asks for next steps following successful completion\nTHEN respond with 'COMPLETE';\n\nExamples:\n- 'what task do you want to do next?' -> 'COMPLETE'\n- 'do you want to solve these issues move onto next task?' -> 'QUESTION'\n\nOutput:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        0
      ],
      "id": "o4",
      "name": "Classify response"
    },
    {
      "parameters": {
        "jsCode": "const outcomes = ['COMPLETE', 'QUESTION'];\nconst agentOutcome = $input.first().json.output;\n\nif (!outcomes.includes(agentOutcome)) {\n  throw new Error(`Invalid outcome: ${agentOutcome}`);\n}\n\nreturn { outcome: agentOutcome };"
      },
      "id": "45d22c63-30ba-45aa-afa5-a729229361e9",
      "name": "Validate Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        400,
        192
      ],
      "id": "e6a04aeb-142e-4d10-85ff-13f28ff5ff72",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "qsLq66OJbT7LErQP",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Classify response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify response": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Start": [
      {
        "json": {
          "response": "How shall we fix this issue?"
        }
      }
    ]
  },
  "versionId": "c5532a9c-069c-4216-bd97-4e2ef2b80188",
  "activeVersionId": "c5532a9c-069c-4216-bd97-4e2ef2b80188",
  "versionCounter": 50,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-01T03:21:06.694Z",
      "createdAt": "2026-07-01T03:21:06.694Z",
      "role": "workflow:owner",
      "workflowId": "3D8Jw6GicWiwBQc6",
      "projectId": "AYEhcVrohjJ82DQg",
      "project": {
        "updatedAt": "2026-06-30T18:07:25.243Z",
        "createdAt": "2026-06-30T17:25:02.325Z",
        "id": "AYEhcVrohjJ82DQg",
        "name": "Instance Owner <dev@dev.dev>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "7e8a5fc5-a105-4029-81f3-089b17fc1a4b"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 75db6a6c",
    "description": ""
  }
}