n8n/workflows/3D8Jw6GicWiwBQc6.json
{
  "updatedAt": "2026-07-14T20:37:13.672Z",
  "createdAt": "2026-06-21T12:41:40.926Z",
  "id": "3D8Jw6GicWiwBQc6",
  "name": "BMAD Outcome",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response"
            },
            {
              "name": "salvaged"
            },
            {
              "name": "rc"
            }
          ]
        }
      },
      "id": "o1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst response = String(item.response ?? '');\nconst salvaged = String(item.salvaged ?? '');\nconst rc = Number(item.rc);\n\n// Rule 1: empty response → UNKNOWN (failed)\nif (response.trim() === '') {\n  return [{ json: { outcome: 'UNKNOWN', rawOutcome: '', classificationFallback: true } }];\n}\n\n// Rule 2: response starts with \"[opencode error]\" → INCOMPLETE (provider error)\nif (response.startsWith('[opencode error]')) {\n  return [{ json: { outcome: 'INCOMPLETE', rawOutcome: response, classificationFallback: false } }];\n}\n\n// Rule 3: salvaged==yes OR rc!=0 → INCOMPLETE (timeout/crash)\nif (salvaged === 'yes' || (Number.isFinite(rc) && rc !== 0)) {\n  return [{ json: { outcome: 'INCOMPLETE', rawOutcome: response, classificationFallback: false } }];\n}\n\n// Rule 4-5: fall through to LLM\nreturn [{ json: { outcome: null, response } }];"
      },
      "id": "determine-outcome-001",
      "name": "Determine outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-outcome-null",
              "leftValue": "={{ $json.outcome === null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-outcome-null-001",
      "name": "Outcome is null?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=--- Start Input ---\n{{ $json.response }}\n--- End Input ---\n\nTask: evaluate the message. Respond only with the classifier that you chose.\nIF it:\n  - asks for input before proceeding\n  - reports an error\n  - indicates that work should not proceed before addressing important issues \nTHEN respond only with QUESTION;\nIF it:\n  - confirms a successful operation\n  - indicates only minor issues and does not indicate critical issues\n  - politely asks for next steps following successful completion\nTHEN respond only with COMPLETE;\nIF it:\n  - is a partial or truncated response\n  - is mid-thought text where work was interrupted\n  - indicates work was interrupted but no question is asked\nTHEN respond only with INCOMPLETE;\n\nExamples:\n- 'what task do you want to do next?' -> COMPLETE\n- 'do you want to solve these issues move onto next task?' -> QUESTION\n- 'Now I will implement the' -> INCOMPLETE\n\nOutput: Respond with only the word COMPLETE, QUESTION, or INCOMPLETE. No quotes, no punctuation, no other text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        -120
      ],
      "id": "o4",
      "name": "Classify response"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// If the classifier sub-workflow or LLM node errored, treat as UNKNOWN\nif (item.error !== undefined) {\n  return { outcome: 'UNKNOWN', rawOutcome: String(item.error?.message ?? item.error), classificationFallback: true };\n}\n\n// Deterministic path: Determine outcome already classified\nif (item.outcome !== undefined && item.outcome !== null) {\n  return { outcome: item.outcome, rawOutcome: item.rawOutcome, classificationFallback: item.classificationFallback || false };\n}\n\n// LLM path: validate the agent's output\nconst outcomes = ['COMPLETE', 'QUESTION', 'INCOMPLETE'];\nconst raw = item.output;\nconst agentOutcome = (raw || '')\n  .trim()\n  .replace(/^[\\'\\\"\\u201c\\u201d]+|[\\'\\\"\\u201c\\u201d.!?;]+$/g, '')\n  .trim()\n  .toUpperCase();\n\nif (!outcomes.includes(agentOutcome)) {\n  return { outcome: 'UNKNOWN', rawOutcome: raw, classificationFallback: true };\n}\n\nreturn { outcome: agentOutcome };"
      },
      "id": "45d22c63-30ba-45aa-afa5-a729229361e9",
      "name": "Validate Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        640,
        72
      ],
      "id": "ee5118c9-bec3-46fd-a26c-32c81f3fed9d",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "bz3nZ97F04acM0xI",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Determine outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine outcome": {
      "main": [
        [
          {
            "node": "Outcome is null?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outcome is null?": {
      "main": [
        [
          {
            "node": "Classify response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify response": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": true,
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "bmadErrNotify001"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Start": [
      {
        "json": {
          "response": "How shall we fix this issue?"
        }
      }
    ]
  },
  "versionId": "fc1c7cdf-ad21-408a-b339-599ba6f90e4c",
  "activeVersionId": "2d1c2049-e054-4976-a45e-b4afee1fa120",
  "versionCounter": 58,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-01T03:43:25.204Z",
      "createdAt": "2026-07-01T03:43:25.204Z",
      "role": "workflow:owner",
      "workflowId": "3D8Jw6GicWiwBQc6",
      "projectId": "AYEhcVrohjJ82DQg",
      "project": {
        "updatedAt": "2026-06-30T18:07:25.243Z",
        "createdAt": "2026-06-30T17:25:02.325Z",
        "id": "AYEhcVrohjJ82DQg",
        "name": "Instance Owner <dev@dev.dev>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "7e8a5fc5-a105-4029-81f3-089b17fc1a4b"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}