n8n/workflows/8NDr8SPHrQ6yERZU.json
{
  "updatedAt": "2026-07-05T09:56:55.234Z",
  "createdAt": "2026-07-05T09:18:13.037Z",
  "id": "8NDr8SPHrQ6yERZU",
  "name": "Test: $runIndex in Switch-cycle",
  "description": "Tests $runIndex accuracy in a Switch-cycle topology mirroring the BMAD workflow's QUESTION branch.",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "a2cd019a-0cff-4668-852a-aef7d6ebdc7f",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "e2645792-ed2f-4b8d-854d-28af72742f48",
      "name": "Generate Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  { json: { i: 1, label: \"first\" } },\n  { json: { i: 2, label: \"second\" } },\n  { json: { i: 3, label: \"third\" } }\n];"
      }
    },
    {
      "id": "fbb46d77-964e-4f91-8513-8b8b62134a75",
      "name": "Probe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const countHaltItems = $('Count halt').all();\nconst lastItem = countHaltItems.length > 0 ? countHaltItems[countHaltItems.length - 1] : null;\nconst haltIndex = lastItem?.json?.haltIndex;\nconst questionCount = haltIndex !== undefined ? haltIndex + 1 : 0;\nconst setOutcomeRuns = $('Set Outcome').all().length;\n\nreturn [{\n  json: {\n    hypothesis: \"Does $runIndex on a counting node give an accurate iteration count in an IF/Switch-cycle?\",\n    runIndexApproach: questionCount,\n    expectedCount: 2,\n    setOutcomeRuns: setOutcomeRuns,\n    countHaltLastItem: lastItem?.json,\n    conclusion: questionCount === 2\n      ? \"FIX WORKS: $runIndex is accurate in IF-cycle\"\n      : \"FIX FAILED: questionCount=\" + questionCount\n  }\n}];"
      }
    },
    {
      "id": "49499f62-4b34-48eb-9def-1a93bcee9f6a",
      "name": "Set Outcome",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "outcome",
              "name": "outcome",
              "value": "={{ $json.i < 3 ? \"QUESTION\" : \"COMPLETE\" }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "6cd65f6c-cb9c-46e7-b58d-acc3582886c0",
      "name": "Routing",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "complete",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "COMPLETE",
                    "id": "r1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "question",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "QUESTION",
                    "id": "r2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Fallback"
        }
      }
    },
    {
      "id": "3c3da70b-b73a-4deb-80f3-b3b6e770b1ff",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "6a4f86c7-d37f-49de-8e9b-b3755d39de64",
      "name": "Count halt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        460
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { haltIndex: $runIndex, iteration: $json.i } };"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Generate Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Items": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Outcome": {
      "main": [
        [
          {
            "node": "Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Count halt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Probe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count halt": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": null,
  "versionId": "c341edce-6d0c-4446-bdc5-7b575dea60eb",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-05T09:18:13.037Z",
      "createdAt": "2026-07-05T09:18:13.037Z",
      "role": "workflow:owner",
      "workflowId": "8NDr8SPHrQ6yERZU",
      "projectId": "AYEhcVrohjJ82DQg",
      "project": {
        "updatedAt": "2026-06-30T18:07:25.243Z",
        "createdAt": "2026-06-30T17:25:02.325Z",
        "id": "AYEhcVrohjJ82DQg",
        "name": "Instance Owner <dev@dev.dev>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "7e8a5fc5-a105-4029-81f3-089b17fc1a4b"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}