n8n/workflows/C8qzMFk2e00sLHJg.json
{
  "updatedAt": "2026-07-18T06:46:10.531Z",
  "createdAt": "2026-06-21T10:21:55.123Z",
  "id": "C8qzMFk2e00sLHJg",
  "name": "BMAD Session (OpenCode)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Story"
            },
            {
              "name": "Skill"
            },
            {
              "name": "Initial prompt (without story ID)"
            },
            {
              "name": "Conversation label"
            },
            {
              "name": "Agent"
            },
            {
              "name": "incompleteContinueCap"
            }
          ]
        }
      },
      "id": "885a9f06-393d-448d-a8a9-bbfefbf0923b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        16
      ]
    },
    {
      "parameters": {
        "command": "=set -a; . /workspaces/bmad-playground/.env.local 2>/dev/null; set +a\nerr=$(mktemp)\nout=$(timeout --kill-after=60 5400 opencode run \\\n  --dangerously-skip-permissions \\\n  --title \"{{ $json.conversationTitle }}\" \\\n  --format json \\\n  --agent \"{{ $json.opencodeAgent }}\" \\\n  \"skill {{ $('Start').item.json.Skill }}\n{{ $('Start').item.json['Initial prompt (without story ID)'] }}\n\n{{ $json.storySpecificPrompt }}\" < /dev/null 2>\"$err\")\nrc=$?\nsalvaged=\"$([ -n \"$out\" ] && echo yes || echo no)\"\nprintf '%s\\n' \"$out\" | tail -n 10\nprintf '{\"type\":\"runner_meta\",\"rc\":%d,\"salvaged\":\"%s\"}\\n' \"$rc\" \"$salvaged\"\nif [ $rc -ne 0 ] || printf '%s\\n' \"$out\" | grep -q '\"type\":\"error\"'; then\n  if [ -s \"$err\" ]; then\n    stderrTail=\"$(tail -c 600 \"$err\")\"\n  else\n    stderrTail=\"$(printf '%s\\n' \"$out\" | grep '\"type\":\"error\"' | tail -c 600)\"\n  fi\n  stderrTail=\"$(printf '%s' \"$stderrTail\" | sed -E 's/(Bearer [A-Za-z0-9._-]+)/Bearer [REDACTED]/g; s/(sk-[A-Za-z0-9._-]+)/sk-[REDACTED]/g')\"\n  category=\"unknown\"\n  if printf '%s' \"$stderrTail\" | grep -qi 'authorization\\|api.key\\|auth'; then category=\"auth\"; elif printf '%s' \"$stderrTail\" | grep -qi 'rate.limit\\|429\\|quota'; then category=\"rate-limit\"; elif printf '%s' \"$stderrTail\" | grep -qi 'context.length\\|token\\|too long'; then category=\"context-length\"; fi\n  jq -cn --arg ts \"$(date -u +%FT%TZ)\" --arg context \"{{ $json.conversationTitle }} / initial run\" --argjson rc $rc --arg salvaged \"$salvaged\" --arg stderrTail \"$stderrTail\" --arg category \"$category\" '{ts:$ts,source:\"opencode-runner\",context:$context,rc:$rc,salvagedOutput:$salvaged,stderrTail:$stderrTail,category:$category}' >> _bmad-output/pipeline/runner-errors.jsonl\n  [ -s \"$err\" ] && tail -c 600 \"$err\" >&2\nfi\nrm -f \"$err\"\nif [ $rc -ne 0 ] && [ -z \"$out\" ]; then exit $rc; fi\nexit 0"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        256,
        16
      ],
      "id": "51b942ec-fed0-495a-8fdf-62aa515e03ad",
      "name": "Agent run (initial)"
    },
    {
      "parameters": {
        "command": "=set -a; . /workspaces/bmad-playground/.env.local 2>/dev/null; set +a\nerr=$(mktemp)\nout=$(timeout --kill-after=60 5400 opencode run \\\n  --dangerously-skip-permissions \\\n  --session \"{{ $('Extract SessionID').item.json.sessionId }}\" \\\n  --format json \\\n  --agent \"{{ $('Variables').item.json.opencodeAgent }}\" \\\n  \"{{ $json.Answer }}\" < /dev/null 2>\"$err\")\nrc=$?\nsalvaged=\"$([ -n \"$out\" ] && echo yes || echo no)\"\nprintf '%s\\n' \"$out\" | tail -n 10\nprintf '{\"type\":\"runner_meta\",\"rc\":%d,\"salvaged\":\"%s\"}\\n' \"$rc\" \"$salvaged\"\nif [ $rc -ne 0 ] || printf '%s\\n' \"$out\" | grep -q '\"type\":\"error\"'; then\n  if [ -s \"$err\" ]; then\n    stderrTail=\"$(tail -c 600 \"$err\")\"\n  else\n    stderrTail=\"$(printf '%s\\n' \"$out\" | grep '\"type\":\"error\"' | tail -c 600)\"\n  fi\n  stderrTail=\"$(printf '%s' \"$stderrTail\" | sed -E 's/(Bearer [A-Za-z0-9._-]+)/Bearer [REDACTED]/g; s/(sk-[A-Za-z0-9._-]+)/sk-[REDACTED]/g')\"\n  category=\"unknown\"\n  if printf '%s' \"$stderrTail\" | grep -qi 'authorization\\|api.key\\|auth'; then category=\"auth\"; elif printf '%s' \"$stderrTail\" | grep -qi 'rate.limit\\|429\\|quota'; then category=\"rate-limit\"; elif printf '%s' \"$stderrTail\" | grep -qi 'context.length\\|token\\|too long'; then category=\"context-length\"; fi\n  jq -cn --arg ts \"$(date -u +%FT%TZ)\" --arg context \"{{ $('Variables').item.json.conversationTitle }} / follow-up run\" --argjson rc $rc --arg salvaged \"$salvaged\" --arg stderrTail \"$stderrTail\" --arg category \"$category\" '{ts:$ts,source:\"opencode-runner\",context:$context,rc:$rc,salvagedOutput:$salvaged,stderrTail:$stderrTail,category:$category}' >> _bmad-output/pipeline/runner-errors.jsonl\n  [ -s \"$err\" ] && tail -c 600 \"$err\" >&2\nfi\nrm -f \"$err\"\nif [ $rc -ne 0 ] && [ -z \"$out\" ]; then exit $rc; fi\nexit 0"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "e177e1a3-9316-4184-ba34-1eb86b17e80b",
      "name": "Agent run (follow-up)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "740f3353-2f56-451c-99a6-bfe3b657b647",
              "name": "storySpecificPrompt",
              "type": "string",
              "value": "=Story: {{ $('Start').item.json.Story }}"
            },
            {
              "id": "58fe3664-02f0-40ca-9992-2b7d4c0a7d6f",
              "name": "conversationTitle",
              "type": "string",
              "value": "={{ $('Start').item.json['Conversation label'] }} ({{ $('Start').item.json.Story }})"
            },
            {
              "id": "93916a86-1e53-4b63-8276-9b1ec4085ad9",
              "name": "opencodeAgent",
              "type": "string",
              "value": "={{ $json.Agent }}"
            },
            {
              "id": "1c897e45-5961-4f04-9ab0-11ca88da2de9",
              "name": "Recovery URL",
              "type": "string",
              "value": "={{ $execution.resumeUrl.replace('webhook', 'form') }}"
            },
            {
              "id": "86929567-73ce-43f0-bf2a-55faeb1fbbb7",
              "name": "incompleteContinueCap",
              "type": "number",
              "value": "={{ Number($('Start').item.json.incompleteContinueCap) || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        16
      ],
      "id": "08fca9dd-fec2-4b55-bb66-dd5adbd8a646",
      "name": "Variables"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Parse OpenCode Response').item.json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1264,
        400
      ],
      "id": "a6db536a-f324-4b11-a117-26d688ce61ab",
      "name": "Agent MD to HTML"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Open question",
        "formDescription": "The agent cannot proceed with without your decisions",
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "{{ $json.data }}"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        400
      ],
      "id": "092f0c0c-9602-43ed-9dd3-155eb832ffd0",
      "name": "Get response",
      "webhookId": "40d052b2-c1a6-484d-871d-ee9535ac69f4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "740f3353-2f56-451c-99a6-bfe3b657b647",
              "name": "finalResponse",
              "type": "string",
              "value": "={{ $('Parse OpenCode Response').last().json.response }}"
            },
            {
              "id": "f7a1c2d3-e4b5-6789-abcd-ef0123456789",
              "name": "questionCount",
              "type": "number",
              "value": "={{ $json.questionCount }}"
            },
            {
              "id": "a8b9c0d1-e2f3-4a5b-6c7d-8e9f0a1b2c3d",
              "name": "incompleteCount",
              "type": "number",
              "value": "={{ $json.incompleteCount }}"
            },
            {
              "id": "outcome-history-output-001",
              "name": "outcomeHistory",
              "type": "string",
              "value": "={{ JSON.stringify($json.outcomeHistory) }}"
            },
            {
              "id": "trace-sid-output-001",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Extract SessionID').item.json.sessionId }}"
            },
            {
              "id": "salvaged-output-001",
              "name": "salvaged",
              "type": "string",
              "value": "={{ $('Parse OpenCode Response').last().json.salvaged }}"
            },
            {
              "id": "classification-fallback-output-001",
              "name": "classificationFallback",
              "type": "boolean",
              "value": "={{ $('BMAD Outcome').last().json.classificationFallback || false }}"
            },
            {
              "id": "error-output-001",
              "name": "error",
              "type": "object",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        32
      ],
      "id": "3156269c-d0de-48ae-9340-3c871482639f",
      "name": "Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "tDs1dBlOKDd3aDH8"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "stdout": "={{ $json.stdout }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "stdout",
              "displayName": "stdout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        128
      ],
      "id": "3a4b5c6d-7e8f-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "Parse OpenCode Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "3D8Jw6GicWiwBQc6"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "response",
              "id": "response",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "salvaged",
              "id": "salvaged",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "rc",
              "id": "rc",
              "required": false,
              "type": "number"
            }
          ],
          "value": {
            "rc": "={{ $json.rc }}",
            "response": "={{ $json.response }}",
            "salvaged": "={{ $json.salvaged }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "m1",
      "name": "BMAD Outcome",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        128
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETE"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Finished"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "QUESTION"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Question"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "INCOMPLETE"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Incomplete"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.outcome }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "UNKNOWN"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "renameOutput": true,
              "outputKey": "Unknown"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "93489431-9544-4237-af9d-695f76fe7ad4",
      "name": "Routing",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1056,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "agent-outcome"
            },
            {
              "name": "title",
              "value": "={{ $('Variables').item.json.conversationTitle }} - Action Needed"
            },
            {
              "name": "message",
              "value": "={{ $('Parse OpenCode Response').item.json.response }}"
            },
            {
              "name": "click",
              "value": "={{ $('Variables').item.json['Recovery URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        224
      ],
      "id": "b1f3a9c2-6e7d-4a2b-9c1e-7f2d8a5b3c4e",
      "name": "Notify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "agent-outcome"
            },
            {
              "name": "title",
              "value": "={{ $('Variables').item.json.conversationTitle }} - Started"
            },
            {
              "name": "message",
              "value": "BMAD skill run has started"
            },
            {
              "name": "click",
              "value": "=http://localhost:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -144
      ],
      "id": "c2b7df39-017d-4560-9aa7-db59140d3bb2",
      "name": "Notify start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "agent-outcome"
            },
            {
              "name": "title",
              "value": "={{ $('Variables').item.json.conversationTitle }} - Finished"
            },
            {
              "name": "message",
              "value": "BMAD skill run has completed"
            },
            {
              "name": "click",
              "value": "=http://localhost:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -144
      ],
      "id": "14e986ff-2d7f-4fa4-8331-b8f446768410",
      "name": "Notify finish"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, runIndex: $runIndex } }];"
      },
      "id": "f7a1c2d3-0000-0000-0000-000000000001",
      "name": "Run counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst key = $execution.id;\nif (!staticData[key]) staticData[key] = [];\nstaticData[key].push(item.outcome);\nreturn [{ json: { ...item, accumulatedOutcomes: [...staticData[key]] } }];"
      },
      "id": "c84f833e-f2ad-4fd4-805d-ad4139dd121b",
      "name": "Accrete outcome (Q)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst key = $execution.id;\nif (!staticData[key]) staticData[key] = [];\nstaticData[key].push(item.outcome);\nreturn [{ json: { ...item, accumulatedOutcomes: [...staticData[key]] } }];"
      },
      "id": "eee1d235-2399-4352-979c-e83da5e4f399",
      "name": "Accrete outcome (I)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, incompleteRunIndex: $runIndex } }];"
      },
      "id": "a879ace3-222f-4e88-b2ec-fff0c58ea4e4",
      "name": "Incomplete counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-continue-001",
              "name": "Answer",
              "type": "string",
              "value": "Continue"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d6850ab7-de51-4883-9e76-5af634854c39",
      "name": "Prepare continue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cap-exhausted-001",
              "name": "error",
              "type": "object",
              "value": "={{ { message: \"incomplete-continue cap exhausted (\" + (Number($(\"Variables\").item.json.incompleteContinueCap) || 10) + \")\" } }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {},
        "notes": null
      },
      "id": "30e4bd29-d548-4e10-b3e6-33b6197d3891",
      "name": "Output (cap exhausted)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "agent-outcome"
            },
            {
              "name": "title",
              "value": "={{ $(\"Variables\").item.json.conversationTitle }} - Incomplete cap exhausted"
            },
            {
              "name": "message",
              "value": "BMAD run exhausted incomplete-continue cap and failed"
            },
            {
              "name": "click",
              "value": "=http://localhost:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b306759-856c-4b31-a137-793764310f8f",
      "name": "Notify cap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        688
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cap-check",
              "leftValue": "={{ Number($('Incomplete counter').last().json.incompleteRunIndex) + 1 }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": "={{ Number($('Variables').item.json.incompleteContinueCap) || 10 }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "8fd553b5-57ee-4d6d-a5e6-4c7d9da15db0",
      "name": "Check incomplete cap",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Read incompleteRunIndex from Incomplete counter (if it executed)\nlet incompleteCount = 0;\ntry {\n  if ($('Incomplete counter').isExecuted) {\n    incompleteCount = Number($('Incomplete counter').last().json.incompleteRunIndex) || 0;\n  }\n} catch {}\n\n// totalTraversals from Run counter\nlet totalTraversals = 0;\ntry {\n  totalTraversals = Number($('Run counter').last().json.runIndex) || 0;\n} catch {}\n\nconst questionCount = Math.max(0, totalTraversals - incompleteCount);\n\n// Read accumulatedOutcomes from staticData\nconst staticData = $getWorkflowStaticData('global');\nconst key = $execution.id;\nconst accumulatedOutcomes = (staticData[key] ? [...staticData[key]] : []);\n// Clean up staticData for this execution to prevent unbounded growth\ndelete staticData[key];\n\n// Determine if this is a failure\nlet error = item.error;\n// On the cap-exhausted path, Notify cap (HTTP Request) replaces the payload\n// with its response, so error set by Output (cap exhausted) is lost. Pull from source.\ntry {\n  if (!error && $('Output (cap exhausted)').isExecuted) {\n    error = $('Output (cap exhausted)').last().json.error;\n  }\n} catch {}\nconst outcome = item.outcome;\nif (outcome === 'UNKNOWN' && !error) {\n  error = { message: 'outcome classified as UNKNOWN' };\n}\n\nreturn [{ json: {\n  ...item,\n  incompleteCount,\n  questionCount,\n  outcomeHistory: accumulatedOutcomes,\n  accumulatedOutcomes,\n  error,\n}}];"
      },
      "id": "9c4a7026-80ea-47d4-85ec-edb753d733d7",
      "name": "Compute counts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = String($input.first().json.stdout ?? '');\nlet sessionId = null;\nlet sessionIdMissing = false;\n\n// Scan all stdout lines for first JSON with .sessionID\nconst lines = stdout.split('\\n').filter(l => l.trim());\nfor (const line of lines) {\n  try {\n    const parsed = JSON.parse(line);\n    if (parsed && parsed.sessionID) {\n      sessionId = parsed.sessionID;\n      break;\n    }\n  } catch {}\n}\n\nif (!sessionId) {\n  sessionIdMissing = true;\n}\n\nreturn [{ json: { ...$input.first().json, sessionId, sessionIdMissing } }];"
      },
      "id": "08d73969-57bd-4a8a-9395-381896dc3709",
      "name": "Extract SessionID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        16
      ]
    },
    {
      "id": "7a158182-4f88-432d-b820-e39d69bd0699",
      "name": "Note: INCOMPLETE path overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        950,
        -80
      ],
      "parameters": {
        "color": 4,
        "content": "# INCOMPLETE outcome classification\n\nopencode sessions can quit mid-stream (timeout, provider error, truncation) and are resumable. Previously these were misclassified as QUESTION, stalling the pipeline on a human form for hours.\n\n**4-rule routing:**\n- COMPLETE → output (success)\n- QUESTION → human form\n- INCOMPLETE → auto-continue (resume with \"Continue\", up to `incompleteContinueCap`, then fail)\n- UNKNOWN → fail (retries via existing machinery)\n\nINCOMPLETE re-enters at `Agent run (follow-up)` (uses `--session <id>`), bypassing the Get response Wait form entirely.",
        "height": 280,
        "width": 500
      }
    },
    {
      "id": "cdca3b8a-ebd7-469d-b8e0-759b9c00a0f3",
      "name": "Note: Bug 2 fix — error assignment",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        800
      ],
      "parameters": {
        "color": 5,
        "content": "# Bug 2 fix: error assignment\n\nPreviously set no `error` field, so `Assess step result` (`failed = item.error !== undefined`) treated cap-exhaustion as success.\n\nFix: explicit `error` assignment. Chose this over `includeOtherFields: true` to keep the Output schema fixed at 8 fields for the Develop Story journal contract.",
        "height": 200,
        "width": 350
      }
    },
    {
      "id": "93d2548f-d0b5-49cf-b9e2-52c25b5adb09",
      "name": "Note: Compute counts rationale",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1450,
        -50
      ],
      "parameters": {
        "color": 4,
        "content": "# Compute counts — branch-local counters\n\nDerives counts from branch-local `$runIndex` counters, not the shared Run counter spine:\n- `incompleteCount` = Incomplete counter's `$runIndex` (INCOMPLETE branch only)\n- `questionCount` = totalTraversals − incompleteTraversals\n\nUsing the shared spine for both would pollute `questionCount` — an INCOMPLETE-continue would count as a human-form halt (false autonomy signal).\n\nAlso cleans up `$getWorkflowStaticData('global')` entry keyed by `$execution.id`. If this node doesn't run (crash/cancel), the entry leaks — static data is never auto-deleted.",
        "height": 250,
        "width": 400
      }
    },
    {
      "id": "5e555249-da8e-498e-a46c-14e361e45bae",
      "name": "Note: Accrete outcome rationale",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        380
      ],
      "parameters": {
        "color": 4,
        "content": "# Accrete outcome — static data across Wait\n\nUses `$getWorkflowStaticData` because `$('BMAD Outcome').all()` does not aggregate across the Get response Wait-node resume boundary. Without this, mid-stream INCOMPLETE/QUESTION outcomes vanish from `outcomeHistory` and reflection sees only the final outcome.\n\nBoth Accrete nodes key on `$execution.id` and push to `staticData[key]`. Cleanup happens in Compute counts.",
        "height": 220,
        "width": 350
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent run (follow-up)": {
      "main": [
        [
          {
            "node": "Parse OpenCode Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Notify start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent run (initial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent MD to HTML": {
      "main": [
        [
          {
            "node": "Get response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get response": {
      "main": [
        [
          {
            "node": "Agent run (follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BMAD Outcome": {
      "main": [
        [
          {
            "node": "Routing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Routing": {
      "main": [
        [
          {
            "node": "Notify finish",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute counts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accrete outcome (Q)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accrete outcome (I)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compute counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenCode Response": {
      "main": [
        [
          {
            "node": "Run counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run counter": {
      "main": [
        [
          {
            "node": "BMAD Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accrete outcome (Q)": {
      "main": [
        [
          {
            "node": "Agent MD to HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accrete outcome (I)": {
      "main": [
        [
          {
            "node": "Incomplete counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incomplete counter": {
      "main": [
        [
          {
            "node": "Check incomplete cap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check incomplete cap": {
      "main": [
        [
          {
            "node": "Output (cap exhausted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare continue": {
      "main": [
        [
          {
            "node": "Agent run (follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output (cap exhausted)": {
      "main": [
        [
          {
            "node": "Notify cap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify cap": {
      "main": [
        [
          {
            "node": "Compute counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute counts": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent run (initial)": {
      "main": [
        [
          {
            "node": "Extract SessionID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SessionID": {
      "main": [
        [
          {
            "node": "Parse OpenCode Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": true,
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "bmadErrNotify001"
  },
  "staticData": {
    "global": {}
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Start": [
      {
        "json": {
          "Story": "test",
          "Skill": "bmad-help",
          "Initial prompt (without story ID)": "Ask me: 'shall we proceed with plan A or plan B?'",
          "Conversation label": "BMAD Session testing",
          "Agent": "test"
        }
      }
    ]
  },
  "versionId": "fbc30385-035b-455b-9d90-95ba5c10e708",
  "activeVersionId": "83f73100-8ade-4e19-8626-c275fba840a5",
  "versionCounter": 191,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-14T10:19:51.920Z",
      "createdAt": "2026-07-14T10:19:51.920Z",
      "role": "workflow:owner",
      "workflowId": "C8qzMFk2e00sLHJg",
      "projectId": "0UQEQBKdspnqMAPk",
      "project": {
        "updatedAt": "2026-07-14T10:09:51.931Z",
        "createdAt": "2026-07-14T10:09:30.918Z",
        "id": "0UQEQBKdspnqMAPk",
        "name": "Instance Owner <dev@dev.dev>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "f5b33b4f-eee7-42dc-8e3b-111a70218818"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}